<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<a href="/">Home page</a><br><br>
<body>
    
    <form  method="post" action='/Login'>
        <div>
            <label>Username :</label>
            <input type="email" placeholder="Enter Username" name="U_name" required>
        </div><br>
        <div>
            <label>Password :</label>
            <input type="password" placeholder="Enter password" name="Password" required>
        </div><br>

        <button type="submit">submit</button>
       
    </form>

</body>
</html>